@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
}

.layout-container {
  @apply flex flex-col justify-center gap-6;
  @apply md:grid md:grid-cols-3 md:grid-rows-4;
}

.home-title {
  @apply text-5xl text-center row-start-2 col-start-2 flex items-center justify-center;
}

.search-input {
  @apply row-start-3 col-start-2 p-2;
}

.profile-column {
  @apply col-span-1 row-span-full justify-items-center m-4;
}

.repos-column {
  @apply sm:col-span-2 flex flex-col h-full m-6 gap-4 sm:gap-8;
  /* @apply sm:grid sm:col-span-2 sm:row-span-full sm:m-4 sm:grid-cols-2 sm:gap-4 sm:grid-rows-repos; */
}

.repos-cards-container {
  @apply sm:grid sm:grid-cols-2 sm:gap-4 h-full;
}
